@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@theme {
  --aspect-card: 63/88;
  --animate-ping-small: ping-small 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping-small {
  75%,
  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}
